<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planetario Halley</title>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrapJS")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Utils/css")
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Utils/css/main.css">
    <style>
        .navbar-nav > li > .dropdown-menu {
            background-color: #133b5c;
        }

            .navbar-nav > li > .dropdown-menu .dropdown-item {
                color: #fcdab7;
            }

            .navbar-nav > li > .dropdown-menu :hover {
                background-color: #1d2d50;
            }

            .navbar-nav > li > .dropdown-menu :focus {
                background-color: #1d2d50;
            }

            .navbar-nav > li > .dropdown-menu a {
                color: #fcdab7;
            }

        .navbar-nav > .nav-item > .nav-link {
            color: #c57b57;
        }

        body {
            background-color: rgb(247 219 167 / 0.60);
        }

        .site-footer {
            padding: 45px 0 20px;
            font-size: 15px;
            line-height: 24px;
            color: #737373;
        }

            .site-footer hr {
                border-top-color: #bbb;
                opacity: 0.5
            }

                .site-footer hr.small {
                    margin: 20px 0
                }

            .site-footer h6 {
                color: #fff;
                font-size: 16px;
                text-transform: uppercase;
                margin-top: 5px;
                letter-spacing: 2px
            }

            .site-footer a {
                color: #737373;
            }

                .site-footer a:hover {
                    color: #3366cc;
                    text-decoration: none;
                }

        .footer-links {
            padding-left: 0;
            list-style: none
        }

            .footer-links li {
                display: block
            }

            .footer-links a {
                color: #737373
            }

                .footer-links a:active, .footer-links a:focus, .footer-links a:hover {
                    color: #3366cc;
                    text-decoration: none;
                }

            .footer-links.inline li {
                display: inline-block
            }

        .site-footer .social-icons {
            text-align: right
        }

            .site-footer .social-icons a {
                width: 40px;
                height: 40px;
                line-height: 40px;
                margin-left: 6px;
                margin-right: 0;
                border-radius: 100%;
                background-color: #33353d
            }

        .copyright-text {
            margin: 0
        }

        .social-icons {
            padding-left: 0;
            margin-bottom: 0;
            list-style: none
        }

            .social-icons li {
                display: inline-block;
                margin-bottom: 4px
            }

                .social-icons li.title {
                    margin-right: 15px;
                    text-transform: uppercase;
                    color: #96a2b2;
                    font-weight: 700;
                    font-size: 13px
                }

            .social-icons a {
                background-color: #eceeef;
                color: #818a91;
                font-size: 16px;
                display: inline-block;
                line-height: 44px;
                width: 44px;
                height: 44px;
                text-align: center;
                margin-right: 8px;
                border-radius: 100%;
                -webkit-transition: all .2s linear;
                -o-transition: all .2s linear;
                transition: all .2s linear
            }

                .social-icons a:active, .social-icons a:focus, .social-icons a:hover {
                    color: #fff;
                    background-color: #29aafe
                }

            .social-icons.size-sm a {
                line-height: 34px;
                height: 34px;
                width: 34px;
                font-size: 14px
            }

            .social-icons a.facebook:hover {
                background-color: #3b5998
            }

            .social-icons a.twitter:hover {
                background-color: #00aced
            }

            .social-icons a.linkedin:hover {
                background-color: #007bb6
            }

            .social-icons a.dribbble:hover {
                background-color: #ea4c89
            }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #251605; ">
        <div class="container-fluid">
            @Html.ActionLink("Pizerria Waluigi", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", @style = "color:#fff" })
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        @Html.ActionLink("Menu", "HorariosParqueoTransporte", "Home", new { area = "" }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Crea tu pizza", "ListaFuncionarios", "Funcionarios", new { area = "" }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Agregar Producto", "AgregarIngrediente", "PizzaPersonalizada", new { area = "" }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Agregar Ingrediente", "AgregarIngrediente", "PizzaPersonalizada", new { area = "" }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Agregar Combo", "listadoDeMateriales", "MaterialEducativo", new { area = "" }, new { @class = "nav-link" })
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content ">
        @RenderBody()
    </div>
    <footer class="site-footer">
        <p style="text-align:center"> @DateTime.Now</p>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="copyright-text">
                        Copyright &copy; 2021 Derechos reservados
                        <a href="#">Pizerria Waluigi</a>.
                    </p>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <ul class="social-icons">
                        <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    @RenderSection("scripts", required: false)
</body>
</html>
